### day1: functions,modules,packages
### day2: inbuilt packages
### day3: numpy
### day4: pandas
### day5: matplotlib,seaborn,plotly

# functions
#### syntax

def funcName(arg1,arg2,----):
    statement1
    statement2
    statement3
    statement4
    return

In [1]:
def great():
    print('hello guyes')

In [2]:
great()

hello guyes

In [3]:
print(great())

hello guyes
None

In [4]:
bhanu=great()
bhanu

hello guyes

In [5]:
print(bhanu)

None

In [6]:
def add(a,b):
    print(a+b)

In [7]:
def add(a,b):
    print(a+b)
    return a+b

In [8]:
add(5,6)

11

11

In [9]:
g=add(5,6)

11

In [10]:
g

11

In [11]:
def greatwithname(first,last):
    print('hello everyone:',first,last)

In [12]:
greatwithname('bhanu','reddy')

hello everyone: bhanu reddy

In [13]:
def greatwithnumber(first,last):
    print('this is number:',first,last)

In [14]:
greatwithnumber('5','6')

this is number: 5 6

In [15]:
def greatwithnumber(first,last):
    print('this is number:'+''+first+' '+last)

In [16]:
greatwithnumber('M','L')

this is number:M L

In [17]:
## positional argument first nd next is keyword argument

In [18]:
def mysum(a,b=10):
    return a+b

In [19]:
mysum(100)

110

In [20]:
def mysums(a=20,b=10):
    return a+b

In [21]:
mysums()

30

In [22]:
mysums(15)

25

In [23]:
mysums(100)

110

In [24]:
mysums(1,100)

101

In [25]:
list(range(5))     # myrange

[0, 1, 2, 3, 4]

In [26]:
list(range(2,6))     # myrange(2,6)

[2, 3, 4, 5]

In [27]:
list(range(2,6,2))    # my range(2,6,2)

[2, 4]

In [28]:
def myrange(start,stop,step):
    li=[]
    i=start
    while i<stop:
        li.append(i)
        i=i+step
        return li

In [29]:
myrange(2,8,3)

[2]

In [30]:
def myrange(stop,start=0,step=1):
    li=[]
    i=start
    while i<stop:
        li.append(i)
        i=i+step
        return li

In [31]:
myrange(2)

[0]

In [32]:
myrange(7,3,2)

[3]

In [33]:
def myproduct(*values):
    f=1
    for i in values:
        f=f*i
    return f

In [34]:
myproduct(3),myproduct(2,3),myproduct(2,3,4),myproduct(2,3,4,5,6,7,8,9,10)

(3, 6, 24, 3628800)

In [35]:
myproduct()

1

In [36]:
def welcome(**names):
    for k,v in names.items():
        print(k,v)
welcome(sub1='M1',sub2='M2',sub3='M3')

sub1 M1
sub2 M2
sub3 M3

define a function for multiplication table
function should print table from 1 to 10
mytable(n,start,stop)
mytable(5)
table(5,2,5)
table(5,3)

define a function to return the prime numbers in the inputs as a list
a list.define seperate function for prime
myprimes(2,8,9) # o/p[2]
myprimes(23,56,78,91) # o/p[23,91]

In [37]:
def multiplication(a,b):
    return a*b

In [38]:
multiplication(5,4)

20

In [39]:
for i in range(1,11):
    print(5,'*',i,'=',5*i)

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

In [40]:
def mytable(n,start=1,stop=10):
    for i in range(start,stop+1):
        print(n,'*',i,'=',n*i)
mytable(7,4,8)

7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56

In [41]:
for i in range(3,5):
    print(5,'*',i,'=',5*i)

5 * 3 = 15
5 * 4 = 20

In [42]:
def isprime(c):
    flag=True
    for i in range(2,(c//2)+1):
        if c%i==0:
            flag=False
            return flag
    return flag

In [43]:
isprime(5)

True

In [58]:
def myprimes(*numbers):
    # Docstring
    '''this function will take multiple numbers as input
     returns a list with prime numbers.
     >>>myprimes(5)
     [5]
    '''
    li=[]
    for each in numbers:
        if isprime(each):
            li.append(each)
    return li

In [45]:
myprimes(3,4,5,6,7,8,9,10)

[3, 5, 7]

In [46]:
help(myprimes)

Help on function myprimes in module __main__:

myprimes(*numbers)
    this function will take multiple numbers as input
    returns a list with prime numbers.
    >>>myprimes(5)
    [5]

In [59]:
import funny

In [60]:
dir(funny)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'marks',
 'predict']

In [61]:
funny.marks

144

In [62]:
funny.predict(6)

13

In [63]:
import funny as f
print(f.marks)
print(f.predict(6))

144
13

###### C:\ProgramData\Anaconda3\pkgs\numpy-base-1.16.5-py37hc3f5095_0\Lib\site-packages\numpy

define a function for proper name<br>
i/p "MacHine", "learning"<br>
i/p "maChine"," LearNing"<br>
o/p : Machine Learning<br>

In [86]:
dir(f)

['__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 'marks',
 'predict']

In [90]:
first.propername("machine" , "learning")

NameError: name 'first' is not defined

define a function for proper name<br>
i/p "MacHine", "learning"<br>
i/p "maChine"," LearNing"<br>
o/p : Machine Learning<br>

In [91]:
def propername(first,last):
    first=first.strip()
    last=last.strip()
    print(first.title(),last.title())
propername("MacHine","learning")
propername("maChine","Learning")

Machine Learning
Machine Learning

In [92]:
def proper(name):
    print(name.strip().title())
proper("Machine learning")
proper("maChine Learning")

Machine Learning
Machine Learning

anonymus function<br>
syntax 'lambda arguments:expression'<br>

add two lists element wise<br>
a=[1,2,3,4]
b=[2,3,4,5]
o/p=[3,5,7,9]

In [101]:
# define a function with two arguments a,b 
# which are lists return value of the function is a list 
def addlist(a,b):
    c=[]
    for i in range(len(a)):
        c.append(a[i]+b[i])
    return c

In [102]:
        a=[1,2,3,4]
        b=[2,3,4,5]
addlist(a,b)

[3, 5, 7, 9]

In [112]:
studentmarks=[['raj',56,78,89],['ravi',78,89,37],['giri',45,67,92],
              ['rohan',75,85,44]]

In [113]:
for i in range(len(studentmarks)):
    studentmarks[i].append(sum(studentmarks[i][1:]))
studentmarks

[['raj', 56, 78, 89, 223],
 ['ravi', 78, 89, 37, 204],
 ['giri', 45, 67, 92, 204],
 ['rohan', 75, 85, 44, 204]]

In [119]:
a=[67,78,56,67]
a.sort()
a

[56, 67, 67, 78]

In [120]:
studentmarks.sort()
studentmarks

[['giri', 45, 67, 92, 204],
 ['raj', 56, 78, 89, 223],
 ['ravi', 78, 89, 37, 204],
 ['rohan', 75, 85, 44, 204]]

In [121]:
help(sorted)

Help on built-in function sorted in module builtins:

sorted(iterable, /, *, key=None, reverse=False)
    Return a new list containing all items from the iterable in ascending order.

    A custom key function can be supplied to customize the sort order, and the
    reverse flag can be set to request the result in descending order.

In [127]:
check=sorted(studentmarks,key=lambda x:x[-1])
check

[['giri', 45, 67, 92, 204],
 ['ravi', 78, 89, 37, 204],
 ['rohan', 75, 85, 44, 204],
 ['raj', 56, 78, 89, 223]]

In [130]:
maths=0
for i in check:
    if i[-1]==204:
        if maths<i[2]:
            name=i[0]
            maths=i[2]
print(name)
print(i)

ravi
['raj', 56, 78, 89, 223]

In [123]:
sorted(studentmarks,key=lambda x:x[0])

[['giri', 45, 67, 92, 204],
 ['raj', 56, 78, 89, 223],
 ['ravi', 78, 89, 37, 204],
 ['rohan', 75, 85, 44, 204]]

In [124]:
sorted(studentmarks,key=lambda x:x[2])

[['giri', 45, 67, 92, 204],
 ['raj', 56, 78, 89, 223],
 ['rohan', 75, 85, 44, 204],
 ['ravi', 78, 89, 37, 204]]

In [131]:
a,b

([56, 67, 67, 78], [2, 3, 4, 5])

In [132]:
list(map(lambda x,y:x+y,a,b))

[58, 70, 71, 83]

In [133]:
list(map(lambda x:x%2==0,a))

[True, False, False, True]

In [134]:
True+False

1

In [135]:
sum(list(map(lambda x:x%2==0,a)))

2

In [151]:
sum(list(map(isprime,range(1,1001))))

169

input=5     <br>
1<br>
2 9<br>
3 8 10<br>
4 7 11 14<br>
5 6 12 13 15<br>

In [156]:
n=5
pat=[]
val=1
for i in range(n):
    pat.append([])
    pat[i].extend(list(range(val,val+n-i)))
    val=pat[i][-1]+1
pat

[[1, 2, 3, 4, 5], [6, 7, 8, 9], [10, 11, 12], [13, 14], [15]]

In [157]:
for i in range(1,len(pat),2):
    pat[i].sort()
    pat[i]=pat[i][::-1]
pat

[[1, 2, 3, 4, 5], [9, 8, 7, 6], [10, 11, 12], [14, 13], [15]]